<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dermetologist in Delhi - Best Skill</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384- 
    B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bookApointment.css">
</head>

<body>
    <!-- navbar -->
    <header>
        <div class="topbar">
            <div class="container">
                <a href="https://www.lybrate.com/mobile?lpt=HOME">Get the App</a>
                <a href="/fordoctors">For Doctors</a>
                <a href="/feed">Health Feed</a>
                <a href="/signup">Login/Sign-up</a>
            </div>
        </div>

        <div class="logo_and_nav_section" style="background: white;">
            <div class="container">
                <div class="logo_container">
                    <img class="logo"
                        src="https://assets.lybrate.com/q_auto,f_auto//imgs/product/logos/Lybrate-Logo.png"
                        alt="lybrate">
                </div>

                <div class="nav_and_cart_section">
                    <nav class="navigation_menu">
                        <div>
                            <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Ask-Question.png"
                                alt="">
                            <a href="/login">Ask a Question</a>
                        </div>
                        <div>
                            <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Book-Appointment.png"
                                alt="">
                            <a href="/bookAppointment">Book Appointment</a>
                        </div>
                        <div>
                            <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Consult-Online.png"
                                alt="">
                            <a href="/doctor">Consult Online</a>
                        </div>
                        <div>
                            <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Book-Lab-test.png"
                                alt="">
                            <a href="#">Book Lab Test</a>
                        </div>
                    </nav>

                    <div class="goodcart_and_cart_section">
                        <button>
                            <img src="../images/goodcart.png" alt="" onclick="gotoCart()">
                        </button>

                        <div class="cart_img_container">
                            <img src="../images/cart.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- search and filter bar section-->
    <div id="searchSection">
        <input type="text" id="city" placeholder="Enter city">
        <input type="text" id="locality" placeholder="Enter Locality">
        <input type="text" id="category" placeholder="Speciality/Symptom/Treatment/Doctors/Clinic">
        <button>Search</button>
    </div>

    <div id="filtersDropdown">
        <div id="cityDropdown">
            <p>New Delhi</p>
            <p>Banglore</p>
            <p>Mumbai</p>
            <p>Pune</p>
            <p>Hyderabad</p>
            <p>Lucknow</p>
            <p>Kolkata</p>
        </div>
        <div id="localityDropdown">
            <p>Anandpur</p>
            <p>AIIMS</p>
            <p>Alipur</p>
            <p>Gautam Nagar</p>
            <p>MP Nagar</p>
            <p>Ashok Nagar</p>
            <p>Ashram</p>
        </div>
        <div id="SpecilizationDropdown">
            <p><i style="font-size:24px" class="fa">&#xf0f0;</i>Gynaecologist</p>
            <p><i style="font-size:24px" class="fa">&#xf0f1;</i>General Physician</p>
            <p><i style="font-size:24px" class="fa">&#xf004;</i>Cardiologist</p>
            <p><i style="font-size:24px" class="fa">&#xf0f8;</i>General Physician</p>

        </div>
    </div>


    <!-- current page navigator -->
    <div id="pageNavigation">
        <a href="homeurl">Home &nbsp;> &nbsp; Delhi &nbsp;>&nbsp;</a>Dermetologist
    </div>
    <div id="info">
        <p id="leftside">Dermatologist in Delhi
        </p>
        <p id="rightSide"><i class="fas fa-map-marker-alt"></i><a href=""> Show Dermatologist near me</a></p>
    </div>

    <!-- left section and filters -->
    <div id="leftSection">
        <div id='headerLeft'>
            <p>Filter</p>
            <p id="clearAll">Clear All</p>
        </div>
        <div id="formItem">
            <p>
                LOCALITY
            </p>
            <form action="" id="filterForm">
                <span>
                    <input type="checkbox" id="1"><label>New Delhi</label>
                </span>
                <span>
                    <input type="checkbox" id="2"><label>Janakpuri</label>
                </span>
                <span>
                    <input type="checkbox" id="3"><label>Green Park</label>
                </span>
                <span>
                    <input type="checkbox" id="4"><label>Pitampura</label>
                </span>
                <span>
                    <input type="checkbox" id="5"><label>Rohini</label>
                </span>
                <span>
                    <input type="checkbox" id="6"><label>Dwaraka</label>
                </span>
                <span>
                    <input type="checkbox" id="7"><label>Vasant Kunj</label>
                </span>
                <span>
                    <input type="checkbox" id="8"><label>Malviya Nagar</label>
                </span>
                <span>
                    <input type="checkbox" id="9"><label>Shalimar Bagh</label>
                </span>
            </form>
            <p>
                AVAILABILITY
            </p>
            <form action="" id="availabilityFilter">
                <span>
                    <input type="checkbox" id="10"><label>Today</label>
                </span>
                <span>
                    <input type="checkbox" id="11"><label>Next 3 Days</label>
                </span>
                <span id="days">
                    <p>Any</p>
                    <p>S</p>
                    <p>M</p>
                    <p>T</p>
                    <p>W</p>
                    <p>T</p>
                    <p>F</p>
                    <p>S</p>
                </span>
            </form>
            <div id="clinic">
                <p>
                    CLINIC FREE
                </p>
                <span>Free - Rs.1000+</span>
            </div>

            <!-- gender wise filter -->
            <p>
                GENDER
            </p>
            <form action="" id="GenderFilter">
                <span>
                    <input type="checkbox" id="12"><label>Male</label>
                </span>
                <span>
                    <input type="checkbox" id="13"><label>Female</label>
                </span>
                <span>
                    <input type="checkbox" id="14"><label>AnY Other</label>
                </span>
            </form>
        </div>
    </div>

    <!-- right section of page -->
    <div id="rightSection">
        <!-- relatedFeed section -->
        <div id="relatedFeed">
            <p>RELATED TREATMENTS AND SERVICES</p>
            <P>Laser Hair Removal Acne Treatment Hair Treatment Pimples Hair Transplant</P>
            <p>Show all</p>
        </div>

        <!-- question ansswer section -->
        <div id="qnaSection">
            <div class="qnaHead">
                <i id="email" class="fa fa-envelope icon"></i>
                <p>Ask a FREE question</p>
            </div>
            <div class="qnaDesc">Get FREE multiple opinions from Doctors</div>
            <textarea name="" id="qnaQuestion" cols="20" rows="6"
                placeholder="Enter questions for you or someone else. E.g. my left eye is red and swollen..."></textarea>
            <div id="footer">
                <p class="lastDesc">Posted anoynymously</p>
                <button>Submit</button>
            </div>
        </div>

        <!-- health tips section -->
        <div id="tips">
            <h1>TOP HEALTH TIPS</h1>
            <div class="tipItem">
                <p>Reconstructive Burn Surgery - How Can You Take Care Of It?</p>
                <img src="https://assets.lybrate.com/q_auto,f_auto,w_80/eagle/uploads/cca97c80d89ae5468547088748abbee7/800882.jpg"
                    alt="">
            </div>
            <div class="tipItem">
                <p>Management of Endometriosis</p>
                <img src="https://assets.lybrate.com/q_auto,f_auto,w_80/eagle/uploads/cca97c80d89ae5468547088748abbee7/698092.jpg"
                    alt="">
            </div>
            <div class="tipItem">
                <p>All About Corns and Calluses</p>
                <img src="https://assets.lybrate.com/q_auto,f_auto,w_80/eagle/uploads/cca97c80d89ae5468547088748abbee7/97863e.jpg"
                    alt="">
            </div>
            <div class="tipItem">
                <p>
                    Head Lice - How You can Treat Them?</p>
                <img src="https://assets.lybrate.com/q_auto,f_auto,w_80/eagle/uploads/cca97c80d89ae5468547088748abbee7/127c6c.jpg"
                    alt="">
            </div>
            <div class="tipItem">
                <p>
                    Foot Problems - Can They Be Treated By Surgery?</p>
                <img src="https://assets.lybrate.com/q_auto,f_auto,w_80/eagle/uploads/cca97c80d89ae5468547088748abbee7/725412.jpg"
                    alt="">
            </div>
        </div>
    </div>


    <!-- middle and result of filters section and list of doctors with their details -->
    <div id="middleContainer">
        <div id="rightArrow"><i style='font-size:44px' class='fas'>&#xf105;</i></div>
        <div id="leftArrow"><i style="font-size:44px" class="fa">&#xf104;</i></div>
        <!-- recomended doctors and hospitals -->
        <div id="contactButton">
            <div id="slidingHospitalDetails">
            </div>
        </div>

        <!-- doctors details -->
        <div id="doctorsDetails">
        </div>
    </div>


    <!-- ending and footer of page -->
    <div id="otherDetails">
        <div class="detailsAndPages">
            <div class="healthProducts">
                <li>
                    <p>Search Health Products</p>
                </li>
                <li><a href="">GoodKart</a></li>
                <li> <a href="">Vitamin ans Supplement</a></li>
                <li><a href="">Protein and Fitness</a></li>
                <li> <a href="">Skin and Hair Care</a></li>
            </div>
            <div class="doctors">
                <p style="color: rgb(182, 181, 181); margin: 7px;">Doctors</p>
                <li><a href="">Search doctors by city</a></li>
                <li>
                    <a href="">Search doctors by City Locality</a>
                </li>
                <li>
                    <a href="">Search doctors by city speciality</a>

                </li>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/"><i id="facebook" class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=en"> <i id="twitter" class="fa fa-twitter"></i></a>
                <a href="https://in.linkedin.com/"><i id="linkedin" class="fa fa-linkedin"></i></a>
                <a href="https://mail.google.com/mail/"><i id="gmail" class="fa fa-envelope icon"></i></a>
            </div>
        </div>
        <div id="copyright">
            <p>© 2020 Lybrate, Inc. All rights reserved.</p>
        </div>
    </div>
</body>

</html>
<script src="scripts/bookApointment.js"></script>