<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="192x192" href="https://nu.lybcdn.com/img/push-crew/logo_192_by_192.png">

    <title>Document</title>
    <link rel="stylesheet" href="/static/consultnow.css">
</head>

<body style="background-color: whitesmoke;">
    <div id="nav">

        <div id="navbar">
            <img class="consultImage" src="https://nu.lybcdn.com/img/lybrate-logo-new.png">
            <p onclick="downloadapp()">Download App</p>
            <p onclick="login()">Login/Signup</p>

            <p onclick="fordoctors()">For Doctors</p>
        </div>
        <div id="container1">
            <div class="sec1"></div>
            <div class="sec2">
                <div id="row1">
                    <div class="image">
                        <img src="https://assets.lybrate.com/img/documents/doctor/dp/b282d627e8d7e2c9eaf85c192d21d34a/crop_100x100/Gynaecology-InduTaneja-Faridabad-e6f725.jpg"
                            alt="Dr. Indu Taneja - Gynaecologist, Faridabad">
                    </div>
                    <div class="drname">Dr. G S Lavekar</div>
                    <div class="degree">
                        Ph.D - Ayurveda, MD - Ayurveda</br>
                        Ayurvedic Doctor
                    </div>
                    <div class="location">
                        Delhi
                    </div>
                </div>
                <div id="row2">
                    <div class="peopleHelped"><span class="heart"><img id="redheart"
                                src="https://www.lybrate.com/img/i_redHeart.png"></span> 3686 People helped</div>
                    <div class="a-yearsExperience">
                        <span class="d-number">
                            <span class="brief"><img id="redheart"
                                    src="https://www.lybrate.com/img/i_briefCase.png"></span>
                            46 Years
                            Experience
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div id="container2">
            <div class="chosemode">CHOOSE MODE OF CONSULTATION</div>
            <div class="line2">
                <div class="textconsult">
                    <div class="texticon">
                        <img src="https://nu.lybcdn.com/img/angular/ic_textsms_black_24px.svg" alt="">
                    </div>
                    <div class="duration">
                        <div class="mode">Text Consult</div>
                        <div class="valid">7 days validity</div>
                    </div>

                    <div class="payment">
                        <img id="creaditcard" src="https://img.icons8.com/ios-filled/2x/credit-card-interest.png"
                            alt="">
                        <div id="price">300</div>
                    </div>
                    <div id="consultbtn">
                        <button id="consulter" class="cunsoltbutton"><a id="consulter"class="cunsoltbutton"href="/payment">Consult Now</a></button>
                    </div>
                </div>
            </div>
            <div class="line3">

                <div class="textconsult">
                    <div class="texticon">
                        <img src="https://nu.lybcdn.com/img/angular/ic_call_black_24px.svg" alt="">
                    </div>
                    <div class="duration">
                        <div class="mode">Phone Consult</div>
                        <div class="valid">15 minutes duration • 24 hour text chat</div>
                    </div>
                    <div class="payment">
                        <img id="creaditcard" src="https://img.icons8.com/ios-filled/2x/credit-card-interest.png"
                            alt="">
                        <div id="price">400</div>
                    </div>
                    <div id="consultbtn">
                        <button id="consulter" class="cunsoltbutton"><a id="consulter"class="cunsoltbutton"href="/payment">Consult Now</a></button>
                    </div>
                </div>
            </div>
            <div class="line3">

                <div class="textconsult">
                    <div class="texticon">
                        <img src="https://nu.lybcdn.com/img/angular/ic_videocam_black_24px.svg" alt="">
                    </div>
                    <div class="duration">
                        <div class="mode">Video Consult</div>
                        <div class="valid">15 minutes duration • 24 hour text chat</div>
                    </div>
                    <div class="payment">
                        <img id="creaditcard" src="https://img.icons8.com/ios-filled/2x/credit-card-interest.png"
                            alt="">
                        <div id="price">400</div>
                    </div>
                    <div id="consultbtn">
                        <button id="consulter" class="cunsoltbutton"><a id="consulter"class="cunsoltbutton"href="/payment">Consult Now</a></button>
                    </div>
                </div>
            </div>


        </div>
        </br>
        <div id="container3">
            <div class="chosemode">LYBRATE ASSURANCE</div>
            <div id="line4"></div>
            <div id="assurance">
                <div>
                    <img class="assurancelogo" src="	https://nu.lybcdn.com/img/askQ/ic-ly-doctor.png" />
                    <h3>verified doctors</h3>
                    <p class="firsttext">All Doctors go through a stringent</br>verification process on Lybrate</p>
                </div>
                <div>
                    <img class="assurancelogo" src="https://nu.lybcdn.com/img/askQ/ic-ly-privacy.png" />
                    <h3>100% Privacy Protection</h3>
                    <p class="firsttext">Your consultation details and</br>personal data will remain</br>confidential
                    </p>
                </div>
                <div>
                    <img class="assurancelogo" src="https://nu.lybcdn.com/img/askQ/ic-ly-quick.png" />
                    <h3>Satisfaction Guaranteed</h3>
                    <p class="firsttext">If you are not satisfied with your</br>experience, we will refund
                        your</br>money</p>
                </div>
            </div>
        </div>
</body>

</html>
<script>
    function login() {
        window.location.href = "/doctor/signup";
    }

    function fordoctors() {
        window.location.href = "/fordoctors";
    }
</script>