<!DOCTYPE html>
<html lang="en">

<head>
    <title>forwarding!!</title>
</head>

<body>
    <img style="margin-left: 45%; margin-top: 15%; height: 90px;"
        src="https://media.tenor.com/images/772254161fe54f0f1f100f15aaf67ef4/tenor.gif" alt="">

</body>

</html>

<script>
    setTimeout(() => {
        window.location.href = '/question';
    }, 1000);
</script>