<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lybrate for Doctors - Closed Social Network for Doctors, Grow Practice, and Manage Practice</title>

  <!-- Google font - ROboto -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/static/forDoctors.css">
</head>
<header>
  <div class="container">
    <div class="navbar">

      <div class="logo_container">
        <img class="logo" src="https://assets.lybrate.com/q_auto,f_auto//imgs/product/logos/Lybrate-Logo.png"
          alt="lybrate">
      </div>

      <nav>
        <a href="#">Features</a>
        <a href="#">Pricing</a>
        <a href="/doctorLogin">Login</a>
        <button onclick="gotologin()">Join Lybrate For Free</button>
        <a href="#">+91.901.555.9900</a>
      </nav>
</header>

</div> <!-- navbar ends -->
</div>

<div class="hero_section">
  <div class="container">
    <div class="content_and_image_section">
      <div class="content">
        <h2>The best way to grow your practice and professional network.</h2>
        <p>Magical products for medical experts to connect among themselves and with patients faster.</p>
        <button onclick="gotologin()">Get Started For Free</button>
      </div>

      <div class="img_container">
        <img
          src="https://assets.lybrate.com/q_auto,f_auto/imgs/product/Homepage/Doctor+Logged+Out+Home+Page_Banner_FirstFold.png"
          alt="">
      </div>
    </div>
  </div>

</div> <!-- hero section ends -->

<div class="a_single_platform_section">
  <div class="container">

    <h2 class="title">A single platform to take care of it all. Seamlessly.</h2>

    <div class="boxes">

      <div class="box box1">
        <img
          src="https://assets.lybrate.com/q_auto,f_auto,h_32,e_colorize,co_white/imgs/product/d2d/assets/goodmd_logo_min.png"
          alt="">
        <h4>Connect with other medical experts privately.</h4>
        <p>Share and discuss everyday moments of your practice on our exclusive network for medical experts.</p>
        <button>Learn more</button>
      </div>

      <div class="box box2">
        <img src="https://assets.lybrate.com/q_auto,f_auto,h_32,e_colorize,co_white/imgs/product/Homepage/Grow_02.png"
          alt="">
        <h4>Take your practice to new heights. </h4>
        <p>Serve more patients and build your reputation and practice across the globe.</p>
        <button>Learn more</button>
      </div>

      <div class="box box3">
        <img src="https://assets.lybrate.com/q_auto,f_auto,h_32,e_colorize,co_white/imgs/product/Homepage/Manage.png"
          alt="">
        <h4>Manage your practice effortlessly </h4>
        <p>Manage patient records and prescriptions, schedule appointments, track financials, and much more.</p>
        <button>Learn more</button>
      </div>
    </div>
  </div>
</div>


<body>

</body>

</html>

<script src="scripts/forDoctor.js"></script>