<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign up for free | Lybrate</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384- 
 B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/signup.css">
</head>

<body>
    <% if(message.length>0){ %>
        <div class="alert alert-success message" role="alert">
            <p>Successfully registered, login to continue</p>
        </div>
        <% } %>
            <header>
                <!-- Navbar -->
                <div class="topbar">
                    <div class="container">
                        <a href="https://www.lybrate.com/mobile?lpt=HOME">Get the App</a>
                        <a href="../ForDoctors/fordoctors.html">For Doctors</a>
                        <a href="/feed">Health Feed</a>
                        <a href="/signup">Login/Sign-up</a>
                    </div>
                </div>

                <div class="logo_and_nav_section">
                    <div class="container">
                        <div class="logo_container">
                            <img class="logo"
                                src="https://assets.lybrate.com/q_auto,f_auto//imgs/product/logos/Lybrate-Logo.png"
                                alt="lybrate">
                        </div>

                        <div class="nav_and_cart_section">
                            <nav class="navigation_menu">
                                <div>
                                    <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Ask-Question.png"
                                        alt="">
<<<<<<< HEAD
                                    <a href="/questions">Ask a Question</a>
=======
                                    <a href="/askQuestion">Ask a Question</a>
>>>>>>> 0fd5ac6fab92429183aec23c6682a678a796abf1
                                </div>
                                <div>
                                    <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Book-Appointment.png"
                                        alt="">
<<<<<<< HEAD
                                    <a href="../bookApointment/bookApointment.html">Book Appointment</a>
=======
                                    <a href="/bookAppointment">Book Appointment</a>
>>>>>>> 0fd5ac6fab92429183aec23c6682a678a796abf1
                                </div>
                                <div>
                                    <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Consult-Online.png"
                                        alt="">
<<<<<<< HEAD
                                    <a href="../consultonline/consultonline.html">Consult Online</a>
=======
                                    <a href="/doctor">Consult Online</a>
>>>>>>> 0fd5ac6fab92429183aec23c6682a678a796abf1
                                </div>
                                <div>
                                    <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Book-Lab-test.png"
                                        alt="">
                                    <a href="#">Book Lab Test</a>
                                </div>
                            </nav>

                            <div class="goodcart_and_cart_section">
                                <button>
                                    <img src="images/goodcart.png" alt="" onclick="gotoCart()">
                                </button>

                                <div class="cart_img_container">
                                    <img src="images/cart.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


            <!-- sign up section -->
            <p id="top">Welcome to Lybrate</p>
            <div id="login">
                <div id="header">
                    <p><a href="/login">LOGIN</a> </p>
                    <p>SIGNUP</p>
                </div>
                <form action="/signup" method="POST">
                    <div id="form">
                        <div> <input type="text" placeholder="Name*" id="userName" name="userName" required /></div>
                        <div>+91 (IN)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="Phone*"
                                id="userPhone" name="mobile" required /></div>
                        <div> <input type="password" placeholder="Choose Pasword*" id="userPass" name="password"
                                required /></div>
                        <div> <input type="email" placeholder="Email*" id="userEmail" name="email" required /></div>

                        <p>By clicking, I agree with Lybrate <a href="">terms of use</a> & <a href="">privacy
                                agreement</a></p>
                    </div>
                    <button style="width:100%; border:none; height:100%;">
                        <a href="" id="loginButon">
                            <p id="loginButon" style="margin-top:10px"> LET'S GET STARTED</p>
                        </a>
                    </button>
                </form>
                <p id="noaccount">Already have an account?<a style="color: red;" href="../login/login.html">Go to
                        login!</a></p>
            </div>

            <!-- ending and footer of page -->
            <div id="otherDetails">
                <div class="detailsAndPages">
                    <div class="healthProducts">
                        <li>
                            <p>Search Health Products</p>
                        </li>
                        <li><a href="">GoodKart</a></li>
                        <li> <a href="">Vitamin ans Supplement</a></li>
                        <li><a href="">Protein and Fitness</a></li>
                        <li> <a href="">Skin and Hair Care</a></li>
                    </div>
                    <div class="doctors">
                        <p style="color: rgb(182, 181, 181); margin: 7px;">Doctors</p>
                        <li><a href="">Search doctors by city</a></li>
                        <li>
                            <a href="">Search doctors by City Locality</a>
                        </li>
                        <li>
                            <a href="">Search doctors by city speciality</a>

                        </li>
                    </div>
                    <div class="social">
                        <a href="https://www.facebook.com/"><i id="facebook" class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/?lang=en"> <i id="twitter" class="fa fa-twitter"></i></a>
                        <a href="https://in.linkedin.com/"><i id="linkedin" class="fa fa-linkedin"></i></a>
                        <a href="https://mail.google.com/mail/"><i id="gmail" class="fa fa-envelope icon"></i></a>
                    </div>
                </div>
                <div id="copyright">
                    <p>© 2020 Lybrate, Inc. All rights reserved.</p>
                </div>
            </div>
</body>